@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Rammetto One', cursive; */
body{
  margin: 0;
}
.App{
  background-image: radial-gradient(#EF7B9D, #E86189);
  margin: 0;
  padding: 0;
  height: 100vh;
}
/* NAVBAR */

nav.navBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: transparent;
  z-index: 100;
}
.nav-brand {
  z-index: 100;
}
.nav-brand h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.3em;
  color: black;
  margin-left: 15px;
}

nav.navBar ul {
  display: flex;
  list-style: none;

}

nav.navBar ul li {
  margin: 0px 15px 0px 15px;
}

.navInput {
  box-sizing: border-box;
  border: 0.8px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
}
li.input input {
  padding: 5px;
  width: 210px;
  margin-top: 5px;
  cursor: pointer;
  outline: none;
}
li.input i {
  position: relative;
  left: -25px;
  top: 1px;
  font-size: 15px;
  color: white;
}
.userId {
  border: 1px solid;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 6px;
}
.userId i {
  padding: 5px;
}

.mainComponent {
  position: absolute;
  width: 934px;
  height: 99.7vh;
  left: 0px;
  top: 0px;
  background: #CDE1E7;
  border: 1px solid #A2CAC8;
  z-index: 10;
}
.mainCompo-contain {
  display: flex;
  position: absolute;
  top: 180px;
}
.mainCompoImg {
  position: relative;
  left: 367px;
  top: -54px;
}
.mainCompoImg img {
  width: 768px;
  height: 557px;
}

.mainCompoImg {
  position: absolute;
  left: 556px;
  top: -50px;
}
.minComppoText {
  left: 120px;
  top: -60px;
  position: absolute;
}
.minComppoText h1 {
  position: absolute;
width: 265px;
height: 166px;
font-family: 'Rammetto One';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 105.9%;
color: #FFFFFF;
}
.minComppoText p {
  position: relative;
  width: 373px;
  height: 112px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.06em;
  top: 200px;
}

.getBtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 40px 10px 40px;
  position: absolute;
  top: 225.94%;
  border: 1px solid #000000;
  border-radius: 40px;
  font-family: 'Raleway', sans-serif;
}